<h1>New comment</h1>

<%= error_messages_for :comment %>

<% form_for(@comment) do |f| %>
  <p>
    <b>Slug</b><br />
    <%= f.text_field :slug %>
  </p>

  <p>
    <b>Post</b><br />
    <%= f.text_field :post_id %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', comments_path %>
