<% for post in @posts %>
<article>
<header>
<h3><%= post.title %></h3>
<hr/><time title="GMT" datetime="<%= post.created_at.iso8601 %>"><%=
post.created_at %></time>
</header>
<%= post.svg_div %>
<%= (post==@posts.first || !post.summary) ? post.content : post.summary %>
<footer>
<%= comment_link(post) %>
</footer>
</article>
<% end %>
