<article>
<header>
<h3><%= @post.title %></h3>
<hr/><time title="GMT" datetime="<%= @post.created_at.iso8601 %>"><%=
@post.created_at %></time>
</header>
<%= @post.scaled_svg %>
<%= @post.content %>
<footer>
</footer>
</article>

<a id="comments"/>

<% for comment in @comments %>
<article>
<header>
<%= comment_header(comment) %>
</header>
<div class="comment">
<hr/>
<a id="<%= comment.slug %>"></a>
<%= comment_title(comment) %>
<%= comment.content %>
</div>
</article>
<% end %>
