<article>
<header>
<h3><%= link_to @post.title, post_url(@post) %></h3>
<hr/><time title="GMT" datetime="<%= @post.created_at.iso8601 %>"><%=
@post.created_at %></time>
</header>
<%= @post.scaled_svg :html => response_html? %>
<%= @post.content -%>
</article>

<a id="comments"></a>
<% for comment in @comments -%>
<%= section_header(comment) %>
<article>
<a id="<%= comment.anchor %>"></a>
<aside>
<%= comment.author[:name] %>
</aside>
<%= comment_title(comment) -%>
<%= comment.content.sub(/(.*)\n?\Z/, '<footer>\1') -%>
 at <a href="<%= comment_url(comment) %>"><time title="GMT" datetime="<%=
 comment.created_at.iso8601 %>"><%=
 comment.created_at.strftime("%H:%M:%S") %></time></a></footer>
</article>
<% end -%>
<%= close_section %>
