<article>
<header>
<h3><%= link_to @post.title, post_url(@post) %></h3>
<hr/><time title="GMT" datetime="<%= @post.created_at.iso8601 %>"><%=
@post.created_at %></time>
</header>
<%= @post.scaled_svg %>
<%= @post.content -%>
<footer>
</footer>
</article>

<a id="comments"/>
<% for comment in @comments %>
<article>
<%= comment_header(comment) -%>
<div class="comment">
<hr/>
<a id="<%= comment.anchor %>"></a>
<%= comment_title(comment) -%>
<%= comment.content -%>
</div>
</article>
<% end %>
