<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
<title>Sam Ruby</title>
<link rel="alternate" type="application/atom+xml" title="It&#8217;s just data" href="<%= url_for :format => 'atom' %>"/>
<link rel="openid.server" href="http://intertwingly.net/id/"/>
<link rel="search" type="application/opensearchdescription+xml" href="http://intertwingly.net/search/" title="intertwingly blog search"/>
<%= stylesheet_link_tag 'blog' %>
<%= stylesheet_link_tag 'print', :media => 'print' %>
<link rel="shortcut icon" href="/favicon.ico"/>
<meta name="ICBM" content="35.708298,-78.695515"/>
<%= javascript_include_tag 'jquery-1.2.6.min.js', 'localize_dates' %>
</head>

<body>

<header>
<h1><%= link_to 'intertwingly', url_for(:action=>:index) %></h1>
<form method="get" action="http://intertwingly.net/blog/">
<label for="q">Search</label>
<input type="text" id="q" name="q" value=""/>
</form>
<p>It&#8217;s just data</p>
</header>

<%= yield -%>
<% unless @calendar -%>
<aside>

<h2>Explore</h2>

<nav>
<ul>
<li><a href="http://en.wikipedia.org/wiki/Sam_Ruby">About</a></li>
<li><a href="/blog/comments">Comments</a></li>
<li><a id="navbar_register" href="/blog/registry/">Register</a></li>
<li><a href="/stats/">Statistics</a></li>
<li><a href="/blog/archives/">Archives</a></li>
<li><a href="http://planet.intertwingly.net/">Planet</a></li>
<li><a href="/code/">Code</a></li>
<li><a
href="http://www.pragprog.com/titles/rails3/agile-web-development-with-rails-third-edition">Rails</a></li>
<li><a
href="http://www.oreilly.com/catalog/9780596529260/">RESTful</a></li>
<li><a href="/blog/2005/05/16/Disclaim-This">Disclaimer</a></li>
</ul>
</nav>

</aside>
<% end %>

<footer>
<ul>


<li>HTTP
<ul>
<li><a href="http://tools.ietf.org/html/rfc2616">RFC 2616</a></li>
<li><a href="http://www.ietf.org/html.charters/httpbis-charter.html">httpbis</a></li>
<li>URI
<ul>
<li><a href="http://tools.ietf.org/html/rfc3986">RFC 3986</a></li>
<li><a href="http://bitworking.org/projects/URI-Templates/">URI Template</a></li>
</ul>
</li>
</ul>
</li>

<li>HTML
<ul>
<li><a href="http://www.w3.org/html/wg/">Working Group</a></li>
<li><a href="http://www.whatwg.org/">WHATWG</a></li>
<li>Specs
<ul>
<li><a href="http://www.w3.org/TR/REC-html40/">HTML 4.01</a></li>
<li><a href="http://www.w3.org/TR/xhtml1/">XHTML 1.0</a></li>
</ul>
</li>
<li>Drafts
<ul>
<li><a href="http://www.w3.org/html/wg/html5/">HTML 5</a></li>
<li><a href="http://www.w3.org/html/wg/markup-spec/">Markup Language</a></li>
<li><a href="http://dev.w3.org/html5/offline-webapps/">Web Workers</a></li>
<li><a href="http://dev.w3.org/html5/html-author/">HTML Author</a></li>
<li><a href="http://dev.w3.org/html5/pubnotes/">Publication Notes</a></li>
<li><a href="http://dev.w3.org/html5/html4-differences/">HTML4 Differences</a></li>
<li><a href="http://dev.w3.org/html5/offline-webapps/">Offline Web Applications</a></li>
<li><a href="http://dev.w3.org/html5/html-design-principles/">Design Principles</a></li>
<li><a href="http://dev.w3.org/html5/web-forms-2/">Web Forms 2.0</a></li>
</ul>
</li>
</ul>
</li>

<li>Atom
<ul>
<li><a href="http://www.atomenabled.org/developers/syndication/atom-format-spec.php">Format</a></li>
<li><a href="http://www.atomenabled.org/developers/protocol/atom-protocol-spec.php">Protocol</a></li>
<li>Extensions
<ul>
<li><a href="http://tools.ietf.org/html/rfc4685">Threading</a></li>
<li><a href="http://tools.ietf.org/html/rfc5005">Paging and Archiving</a></li>
<li><a href="http://tools.ietf.org/html/rfc4946">License</a></li>
</ul>
</li>
</ul>
</li>

</ul>
</footer>

</body>
</html>
